<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Wordpress Test" verbose="1" >
    <test name="Wordpress Test" >
        <classes>
            <class name="TestPosts" />
            <class name="TestCategories" />
            <class name="TestTags" />
            <class name="TestPages" />
            <class name="TestComments" />
            <class name="TestTaxonomies" />
            <class name="TestMedia" />
            <class name="TestUsers" />
            <class name="TestPostTypes" />
        </classes>
    </test>
</suite>
